.inline{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}

.item {
    color: "#aaa";
    /* margin-top: 50; */
    /* border: 1px solid grey; */
}

.item h6, .item  p{
    margin: 0;
}

#container-search{
    margin-top: 50px;
}

#export-data{
    position: absolute;
    top:100px;
    right:2%;
}
